/**
 * x4 Theme System
 * ===============
 * @creator Oliver Kühn
 * @website http://0x04.de
 * @created 2013-11-26
 * @license MIT
 * @credits See `readme.md`.
 */


//------------------------------------------------------------------------------
//
// @section Imports / assets
//
//------------------------------------------------------------------------------

@import 'nib'
@import 'nib/gradients'
// @TODO: For release only the required fonts, please.
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://weloveiconfonts.com/api/?family=fontawesome)


//------------------------------------------------------------------------------
//
// @section Variables (prefix free)
//
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// @part Theme
//------------------------------------------------------------------------------

/**
 * Theme font
 * @type {font-style}
 */
$x4_FontUbuntu = 1rem\/150% 'OpenSans', sans-serif

/**
 * Padding
 * @type {length}
 */
$x4_PaddingX = 1rem
$x4_PaddingY = 0.5rem
$x4_Padding = $x4_PaddingY $x4_PaddingX
$x4_PaddingHeader = ($x4_PaddingY / 2) $x4_PaddingX

/**
 * Margins
 * @type {length}
 */
$x4_MarginBody = 4.75rem 0 1rem 0
$x4_MarginHeadline = 0.5rem 0rem

/**
 * Lighteners and darkeners
 * @type {percentage}
 */
$x4_Lighter =   5%
$x4_Light   =  15%
$x4_Medium  =  35%
$x4_Dark    =  75%
$x4_Darker  = 100%

/**
 * Colors
 * @type {color}
 */
$x4_Color = #FF6633

/**
 * Borders
 * @type {length|percentage}
 */
$x4_BorderRadius = 8px
$x4_BorderInnerRadius = 10px

/**
 * Tints
 * @type {color}
 */
$x4_TintDarker  = lighten($x4_Color, $x4_Lighter)
$x4_TintDark    = lighten($x4_Color, $x4_Light)
$x4_TintMedium  = lighten($x4_Color, $x4_Medium)
$x4_TintLight   = lighten($x4_Color, $x4_Dark)
$x4_TintLighter = lighten($x4_Color, $x4_Darker)

/**
 * Shades
 * @type {color}
 */
$x4_ShadeLighter = darken($x4_Color, $x4_Lighter)
$x4_ShadeLight   = darken($x4_Color, $x4_Light)
$x4_ShadeMedium  = darken($x4_Color, $x4_Medium)
$x4_ShadeDark    = darken($x4_Color, $x4_Dark)
$x4_ShadeDarker  = darken($x4_Color, $x4_Darker)

/**
 * Shadows
 * @type *
 */
$x4_ShadowDistanceX = 4px
$x4_ShadowDistanceY = 4px
$x4_ShadowBlur = 0
$x4_ShadowColor = $x4_ShadeDark
$x4_ShadowAlpha = 0.5
$x4_Shadow = x4_JoinSpace(
    $x4_ShadowDistanceY,
    $x4_ShadowDistanceX,
    $x4_ShadowBlur,
    x4_ColorAlpha($x4_ShadowColor, $x4_ShadowAlpha)
);

/**
 * Angles for the `x4_GradientStripes` function
 * @type {angle}
 */
$x4_GradientDegree180 = 180deg
$x4_GradientDegree90  = 90deg
$x4_GradientDegree45  = 45deg
$x4_GradientDegree26  = 26.56deg


//------------------------------------------------------------------------------
//
// @section Mixins
//
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// @part Helpers
//------------------------------------------------------------------------------

x4_JoinSpace()
  arguments

x4_JoinComma()
  unquote(join(',', arguments))


//------------------------------------------------------------------------------
// @part Colors
//------------------------------------------------------------------------------

/**
 * Creates background stripes with gradients.
 * @param {angle} [deg=$x4_GradientDegree45]
 * @param {color} [colorA=#000]
 * @param {color} [colorB=#transparent]
 * @param {length|percentage} [width=64px]
 * @param {length|percentage} [height=width]
 * @param {position} [position top left]
 */
x4_GradientStripes(
    deg = $x4_GradientDegree45,
    colorA = #000,
    colorB = transparent,
    width = 64px,
    height = width,
    position = top left
  )
  if deg == $x4_GradientDegree180 || deg == $x4_GradientDegree90
    background linear-gradient(
        deg,
        colorA 50%,
        colorB 50%
    )
  if deg == $x4_GradientDegree45 || deg == $x4_GradientDegree26
    background linear-gradient(
        deg,
        colorA 25%,
        colorB 25%,
        colorB 50%,
        colorA 50%,
        colorA 75%,
        colorB 75%
    )
  background-size width height
  background-position position

/**
 * Creates background stripes with gradients.
 * @param {angle} [deg=$x4_GradientDegree45]
 * @param {color} [colorA=#000]
 * @param {color} [colorB=#transparent]
 * @param {length|percentage} [width=64px]
 * @param {length|percentage} [height=width]
 * @param {position} [position top left]
 */
x4_GradientCheckerBoard(
    colorA = #000,
    colorB = transparent,
    width = 128px,
    height = width,
    position = top left
  )
  background x4_JoinComma(
      linear-gradient(45deg, colorA 25%, colorB 25%, colorB),
      linear-gradient(-45deg, colorA 25%, colorB 25%, colorB),
      linear-gradient(45deg, colorB 75%, colorA 75%),
      linear-gradient(-45deg, colorB 75%, colorA 75%)
  )
  background-size width height
  background-position position

/**
 * Creates a color with alpha value
 * @param {color} color
 * @param {length} alpha
 */
x4_ColorAlpha(color, alpha)
  rgba(red(color), green(color), blue(color), alpha)

/**
 * Creates color classes.
 * @param {string} prefix
 * @param {*[]} values
 */
x4_ColorCreate(prefix, values)
  grades = base lighter light medium dark darker
  for value, index in values
    {prefix}-bg-{grades[index]}
      background-color value !important
    {prefix}-cl-{grades[index]}
      color value !important


//------------------------------------------------------------------------------
// @part Layout
//------------------------------------------------------------------------------

/**
 * Creates a x4 grid system.
 * @param {number} numColumns
 */
x4_GridCreate(numColumns)
  for column in (1 .. numColumns)
    .col-{column}
      width (100 / numColumns * column)%


//------------------------------------------------------------------------------
//
// @section Declarations
//
//------------------------------------------------------------------------------

reset-html5()

// Tints
x4_ColorCreate(
    '.tint',
    x4_JoinSpace(
        $x4_Color,
        $x4_TintLighter,
        $x4_TintLight,
        $x4_TintMedium,
        $x4_TintDark,
        $x4_TintDarker
    )
)

// Shades
x4_ColorCreate(
    '.shade',
    x4_JoinSpace(
        $x4_Color,
        $x4_ShadeLighter,
        $x4_ShadeLight,
        $x4_ShadeMedium,
        $x4_ShadeDark,
        $x4_ShadeDarker
    )
)

//x4_GridCreate(12);


//------------------------------------------------------------------------------
// @part Media
//------------------------------------------------------------------------------

/**
 * Desktop/Tablets
 */
@media (min-width: 960px)
  //
  html
    body
      //display none
      .container
        width 960px


//------------------------------------------------------------------------------
// @part Document
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// @part Defaults
//------------------------------------------------------------------------------

*
 box-sizing border-box

body
  font $x4_FontUbuntu
  margin $x4_MarginBody
  padding 0

label, a
  cursor pointer

input[type="range"]
  -webkit-appearance none
  background-color fuchsia
  &::-webkit-slider-thumb
    -webkit-appearance none
    padding 10px
    width 16px
    height 16px
    border-radius 8px
    background-color red
    border 1px solid green



//------------------------------------------------------------------------------
// @part Specials
//------------------------------------------------------------------------------

/**
 * Font Awesome (@credits see top)
 */
*[class*="fontawesome-"]:before
  font-family 'FontAwesome', sans-serif


//------------------------------------------------------------------------------
// @part Headlines
//------------------------------------------------------------------------------

/**
 * h1 - h6
 * -------
 * Headlines.
 */
h1, h2, h3, h4, h5, h6
  font-weight bolder
  &~p
    margin-top 0

  /**
   * "Font Awesome" headline icon handling
   * -------------------------------------
   * It's about to get the icon centered in a backgrounded, :before pseudo
   * element. It should stays left from the headlines text.
   *
   * The solution is to build a pseudo table with corresponding display
   * values. A bit tricky, but does the job.
  &[class*="fontawesome-"]
    width 100%
    // The trick
   */
  &[class*="fontawesome-"]
    &:before
      display inline-block
      width 3.5rem
      text-align center
      vertical-align -0.05rem
      // Creates the gap between the icon and the text of the headline.
      margin-right ($x4_PaddingX / 2)

p
  margin $x4_PaddingY 0 ($x4_PaddingY * 1.5) 0

for i in (1 .. 6)
  h{i}
    font-size (1.75 * (6 - i) / 5 + 0.5)rem
    line-height 1.5em
    margin $x4_MarginHeadline
    small
      font-weight normal
      font-style italic
      color $x4_ShadeLight
      // Create a space to seperate it from the normal headline text.
      &:before
        content ' '


//------------------------------------------------------------------------------
// @part Header
//------------------------------------------------------------------------------

/**
 * Header
 * ------
 * The site header.
 */
header
  left 0
  top 0
  right 0
  position fixed
  padding $x4_PaddingHeader
  color $x4_TintLighter
  background-color $x4_ShadeDark
  box-shadow $x4_Shadow
  .header-title
    margin 0
  .container
    padding 0
  .header-title:after
    content 'Uncategorized'
    font-size 2.25rem
    font-weight bolder

/**
 * Horizontal ruler
 * ----------------
 * Base rules for `<hr>`s.
 */
hr
  height 0
  border 0
  margin 1rem
  border-bottom 2px solid $x4_ShadeLighter
  background-color $x4_TintLight
  clearfix()
  &.fat
    border-bottom $x4_ShadowDistanceY solid $x4_ShadeLighter
  &.dotted
    border-style dotted



//------------------------------------------------------------------------------
//
// @section Components
//
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// @part Horinzontal space
//------------------------------------------------------------------------------

.h-space,
.h-space-x1,
.h-space-x2,
.h-space-x3
  padding x4_PaddingY 0 0 0


//------------------------------------------------------------------------------
// @part ColorSwatch
//------------------------------------------------------------------------------

/**
 * ColorSwatch
 * -----------
 * A really simple element representing a color value.
 */
.color-swatch
  float left
  width 3rem
  height 3rem
  border-radius 2rem
  box-shadow x4_JoinSpace(
      ($x4_ShadowDistanceX / 2),
      ($x4_ShadowDistanceY / 2),
      $x4_ShadowBlur,
      x4_ColorAlpha(
          $x4_ShadowColor,
          $x4_ShadowAlpha
      )
  )
  font-size 2rem
  text-align center
  line-height (@height)
  vertical-align middle
  overflow hidden
  margin: 0 0.5rem 0.5rem 0
  &+hr
    margin-bottom $x_PaddingX
    background red


//------------------------------------------------------------------------------
// @part Container
//------------------------------------------------------------------------------

/**
 * Container
 * ---------
 * * Center its contents
 * * Limit the width of its childs
 * @TODO: Check what this bootstrap hack does.
 */
.container
  margin auto
  padding $x4_Padding
  &:before, &:after
    content ' '
    display table
  &:after
    clear both


//------------------------------------------------------------------------------
// @part Panel
//------------------------------------------------------------------------------

/**
 * Panel
 * -----
 */
.panel
  border-radius $x4_BorderInnerRadius

  // Round edges of panel members
  >[class^="panel-"]:first-child
    border-top-left-radius $x4_BorderRadius
    border-top-right-radius $x4_BorderRadius
  >[class*="fontawesome-"]:first-child:before
    border-top-left-radius $x4_BorderRadius
  >[class^="panel-"]:last-child
    border-bottom-left-radius $x4_BorderRadius
    border-bottom-right-radius $x4_BorderRadius
  >[class*="fontawesome-"]:last-child:before
    border-bottom-left-radius $x4_BorderRadius

  /**
   * Panel Header
   * ------------
   */
  .panel-header
    margin 0
    line-height 1.75em
    color $x4_TintLight
    background-color $x4_ShadeLight
    &:not([class*="fontawesome-"])
      padding 0 ($x4_PaddingX / 2)
      border-left $x4_PaddingX solid $x4_ShadeDark
    &[class*="fontawesome-"]
      color $x4_TintMedium
      border-left 3.5rem solid $x4_ShadeDark
      &:before
        margin-left -3.5rem
    small
      color $x4_TintDark

  /**
   * Panel Body
   * ----------
   */
  .panel-body
    padding $x4_Padding
    color $x4_ShadeDark
    background-color $x4_TintLight
    clearfix()
    >hr
      margin-left -($x4_PaddingX)
      margin-right -($x4_PaddingX)

  /**
   * Horizontal ruler
   * ----------------
   * This ruler is out of `.panel-body`, so we have to handle it in some
   * other way.
   */
  >hr
    margin 1rem 0
    height 0
    &:before
      height 0
      margin 0
      display block
      content ' '
      background #FF0
      border-bottom 1rem #0F0 solid

  // Sub style of the panel
  &.panel-raised
    box-shadow $x4_Shadow


//------------------------------------------------------------------------------
//
// @section Themes
//
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// @part Theme
//------------------------------------------------------------------------------

.theme
  color $x4_ShadeDark
  -webkit-filter grayscale(100%)
  x4_GradientStripes(
      $x4_GradientDegree45,
      $x4_TintDark,
      $x4_ShadeMedium,
      68px
  )
  .theme-switcher
    position fixed
    top 0.75rem
    right $x4_PaddingX


//------------------------------------------------------------------------------
// @part Theme HTML
//------------------------------------------------------------------------------

.theme-html
  -webkit-filter grayscale(0%)
  header .header-title:after
    content 'HTML'
  &.version-4 .header-title:after
    content 'HTML4'
  &.version-5 .header-title:after
    content 'HTML5'
  &.version-x .header-title:after
    content 'XHTML'


//------------------------------------------------------------------------------
// @part Theme CSS
//------------------------------------------------------------------------------

.theme-css
  -webkit-filter hue-rotate(190deg) grayscale(0%)
  header .header-title:after
    content 'CSS'
  &.version-2 .header-title:after
    content 'CSS2'
  &.version-3 .header-title:after
    content 'CSS3'
  &.version-4 .header-title:after
    content 'CSS4'


//------------------------------------------------------------------------------
// @part Theme JS
//------------------------------------------------------------------------------

.theme-js
  -webkit-filter hue-rotate(120deg) grayscale(0%)
  header
    .header-title:after
      content 'JavaScript'
  &.version-1_8_5 .header-title:after
    content 'JavaScript 1.8.5'


//------------------------------------------------------------------------------
//
// @section Shortcuts and overrides
//
//------------------------------------------------------------------------------

/**
 * No shadow override
 * ------------------
 * Removes box shadows
 */
html body .set-no-shadow
html body .set-no-shadow:before,
html body .set-no-shadow:after
  box-shadow none !important

/**
 * set-invisible
 * ---------
 * Hides a element using `visibility: hidden;`
 */
html body .set-invisible
  visibility hidden !important

/**
 * set-debug override
 * ------------
 * A little layout helper.
 */
html body .set-debug
  width 100% !important
  min-height 32px
  display table !important
  font-size 0.75rem !important
  font-weight bolder !important
  text-align center !important
  color darken(#F0F, 50%) !important
  margin 0 !important
  padding 0 !important
  x4_GradientCheckerBoard(
      x4_ColorAlpha(#F0F, 0.75),
      x4_ColorAlpha(#F0F, 0.25),
      34px,
      34px
  )
  background-color transparent !important
  &:after
    display table-cell !important
    vertical-align middle !important
    content '<DEBUG_HELPER>' !important


//------------------------------------------------------------------------------
// EOT, end of transmission.
//------------------------------------------------------------------------------
