/**
 * x4.css
 * @creator Oliver Kühn
 * @website http://0x04.de
 * @created 2013-11-26
 * @license MIT
 */


//------------------------------------------------------------------------------
//
// @section Imports / assets
//
//------------------------------------------------------------------------------

@import 'nib'
@import 'nib/gradients'
@import url(http://fonts.googleapis.com/css?family=Monda)
// Thx Tim! (timpietrusky.com)
@import url(http://weloveiconfonts.com/api/?family=fontawesome)


//------------------------------------------------------------------------------
//
// @section Variables (prefix free)
//
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// @part Theme
//------------------------------------------------------------------------------

/**
 * Padding
 * @type {length}
 */
x4_PaddingX = 1rem
x4_PaddingY = 0.25rem
x4_Padding = x4_PaddingX x4_PaddingY
x4_PaddingPanelX = 1rem
x4_PaddingPanelY = 0.5rem
x4_PaddingPanel = x4_PaddingPanelY x4_PaddingPanelX
x4_PaddingContainer = 0.75rem 1rem
x4_PaddingHeader = 0.25rem 1rem

/**
 * Margins
 * @type {length}
 */
x4_MarginBody = 4.4rem 0 1em 0
x4_MarginHeadline = 0.5rem 0rem

/**
 * Lighteners and darkeners
 * @type {percentage}
 */
x4_Lighter =   5%
x4_Light   =  15%
x4_Medium  =  35%
x4_Dark    =  75%
x4_Darker  = 100%

/**
 * Colors
 * @type {color}
 */
x4_Color = #EE6633


/**
 * Other numeric
 * @type {length|percentage}
 */
x4_BorderRadius = 8px
x4_BorderInnerRadius = 10px
x4_ShadowDistance = 3px

/**
 * Tints
 * @type {color}
 */
x4_TintDarker  = lighten(x4_Color, x4_Lighter)
x4_TintDark    = lighten(x4_Color, x4_Light)
x4_TintMedium  = lighten(x4_Color, x4_Medium)
x4_TintLight   = lighten(x4_Color, x4_Dark)
x4_TintLighter = lighten(x4_Color, x4_Darker)

/**
 * Shades
 * @type {color}
 */
x4_ShadeLighter = darken(x4_Color, x4_Lighter)
x4_ShadeLight   = darken(x4_Color, x4_Light)
x4_ShadeMedium  = darken(x4_Color, x4_Medium)
x4_ShadeDark    = darken(x4_Color, x4_Dark)
x4_ShadeDarker  = darken(x4_Color, x4_Darker)

/**
 * Theme font
 * @type {font-style}
 */
x4_Font = 1.2em/1.2em Monda

// Font Awesome {Dave Gandy|http://fortawesome.github.com/Font-Awesome}
[class*="fontawesome-"]:before
  font-family 'FontAwesome', sans-serif

  
//------------------------------------------------------------------------------
//
// @section Mixins
//
//------------------------------------------------------------------------------

/**
 * Angles for the `x4_ThemeCreateStripes` function
 * @type {angle}
 */
x4_ThemeStripe180 = 180deg
x4_ThemeStripe90 = 90deg
x4_ThemeStripe45 = 45deg
x4_ThemeStripe26 = 26.56deg

/**
 * Creates background stripes with gradients.
 * @param {angle} [deg=x4_ThemeStripe45]
 * @param {color} [colorA=#FFF]
 * @param {color} [colorB=#000]
 * @param {length|percentage} [width=64px]
 * @param {length|percentage} [height=width]
 * @param {position} [position top left]
 */
x4_ThemeCreateStripes(
    deg = x4_ThemeStripe45,
    colorA = #FFF,
    colorB = #000,
    width = 64px,
    height = width,
    position = top left
  )
  if deg == x4_ThemeStripe180 || deg == x4_ThemeStripe90
    background: linear-gradient(
        deg,
        colorA 50%,
        colorB 50%
    )
  if deg == x4_ThemeStripe45 || deg == x4_ThemeStripe26
    background: linear-gradient(
        deg,
        colorA,
        colorA 25%,
        colorB 25%,
        colorB 50%,
        colorA 50%,
        colorA 75%,
        colorB 75%
    )
  background-size width height
  background-position position

/**
 * Creates a x4 grid system.
 * @param {number} numColumns
 */
x4_GridCreate(numColumns)
  for column in (1 .. numColumns)
    .col-{column}
      width (100 / numColumns * column)%

x4_GridCreate(12);

/**
 * Creates tints and shades from colors.
 * @param {string} prefix
 * @param {color[]} values
 */
x4_ColorTintsAndShadesCreate(prefix, values)
  grades = base lighter light medium dark darker
  for value, index in values
    {prefix}-bg-{grades[index]}
      background-color value !important
    {prefix}-cl-{grades[index]}
      color value !important


x4_ColorTintsAndShadesCreate('.tint', x4_Color x4_TintLighter x4_TintLight x4_TintMedium x4_TintDark x4_TintDarker)
x4_ColorTintsAndShadesCreate('.shade', x4_Color x4_ShadeLighter x4_ShadeLight x4_ShadeMedium x4_ShadeDark x4_ShadeDarker)


//------------------------------------------------------------------------------
//
// @section Declartions
//
//------------------------------------------------------------------------------

label, a
{
  cursor pointer
}


//------------------------------------------------------------------------------
// @part Document / default styles
//------------------------------------------------------------------------------

@media (min-width: 960px)
  //
  html
    body
      //display none
      .container
        width 960px
        

html
  
  //----------------------------------------------------------------------------
  // @part Body
  //----------------------------------------------------------------------------
  
  body
    
    font x4_Font
    margin x4_MarginBody
    padding 0
    
    //--------------------------------------------------------------------------
    // @part Headlines
    //--------------------------------------------------------------------------
    
    // h1 - h6
    for i in (1 .. 6)
      h{i}
        font-size (1.75 * (6 - i) / 5 + 0.5)rem
        margin x4_MarginHeadline
        small
          font-weight normal
          color x4_ShadeLight
    
    
    //--------------------------------------------------------------------------
    // @part Header
    //--------------------------------------------------------------------------
    
    header
      left 0
      top 0
      right 0
      position fixed
      padding x4_PaddingHeader
      border-left: 4rem solid x4_ShadeDark
      border-bottom: x4_ShadowDistance solid x4_ShadeDark
      color x4_TintLight
      background-color x4_ShadeMedium
      .header-title
        margin 0
      .container
        margin 0
        padding 0
      .header-title:after
        content 'Uncategorized'
        font-size 2.25rem
        font-weight bolder

    hr
      clearfix()
      height 0
      border 0
      margin 0.5em
      margin-left -(x4_PaddingPanelX)
      margin-right -(x4_PaddingPanelX)
      box-sizing content-box
      border-bottom 2px solid x4_TintDark
      background-color x4_TintLight
      &.fat
        border-bottom x4_ShadowDistance solid x4_TintDark
      &.dotted
        border-style dotted

//------------------------------------------------------------------------------
//
// @section Components
//
//------------------------------------------------------------------------------

.color-swatch
  float left
  width 4rem
  height 4rem
  //border 2px solid x4_ShadeMedium
  border-radius x4_BorderRadius
  box-shadow x4_ShadowDistance x4_ShadowDistance 0 x4_TintDark
  font-size 3rem
  text-align center
  line-height 4rem
  vertical-align middle
  overflow hidden
  margin: 0 0.5rem 1rem 0



//------------------------------------------------------------------------------
// @part Container
//------------------------------------------------------------------------------

.container
  margin auto
  padding x4_PaddingContainer
  &:before, &:after
    content ' '
    display table
  &:after
    clear both


//------------------------------------------------------------------------------
// @part Panel
//------------------------------------------------------------------------------

.panel
    border-radius x4_BorderInnerRadius
    >*:first-child
      border-top-left-radius x4_BorderRadius
      border-top-right-radius x4_BorderRadius
    >*:last-child
      border-bottom-left-radius x4_BorderRadius
      border-bottom-right-radius x4_BorderRadius
    .panel-header
      margin 0
      padding x4_PaddingHeader
      padding-left 2rem
      background linear-gradient(
          90deg,
          x4_ShadeDark 1.25rem,
          x4_ShadeMedium 1.25rem
      )
      &[class*=fontawesome]
        padding x4_PaddingHeader
        background linear-gradient(
            90deg,
            x4_ShadeDark 4.25rem,
            x4_ShadeMedium 4.25rem
        )
      &[class*=fontawesome]:before
        display: inline-block
        width 2.25rem
        text-align center
        margin-right 1.25rem
        line-height auto
        vertical-align -0.05rem
    .panel-body
      clearfix()
      padding x4_PaddingPanel
    >hr
      border 0
      margin 0
      height x4_ShadowDistance
      

x4_createPanelTheme(
    clHeader = x4_TintMedium,
    bgHeader = x4_ShadeMedium,
    clSubHeader = x4_TintDarker,
    clBody = x4_ShadeDark,
    bgBody = x4_TintLight,
    clShadow = x4_ShadeDark
  )
  .panel
    .panel-header
      color clHeader
      border-color clBody
      background-color bgHeader
      small
        color clSubHeader
    .panel-body
      color clBody
      background-color bgBody
    &.panel-raised
      box-shadow x4_ShadowDistance x4_ShadowDistance 0 clShadow
    >hr
      border-style solid
      border-color bgBody
      border-width 0.5rem 0
      background-color x4_TintDark

  

//------------------------------------------------------------------------------
// @part Commons
//------------------------------------------------------------------------------
for index in (1 .. 6)
  .container h{index}:first-child,
  .panel h{index}:first-child
    margin-top 0 !important
  .container h{index}:last-child,
  .panel h{index}:last-child
    margin-bottom 0 !important


//------------------------------------------------------------------------------
//
// @section Themes
//
//------------------------------------------------------------------------------

html
  
  //--------------------------------------------------------------------------
  // @part Theme
  //--------------------------------------------------------------------------
  
  &.theme
    color x4_ShadeDark
    -webkit-filter grayscale(100%)
    x4_ThemeCreateStripes(
        x4_ThemeStripe45,
        x4_TintMedium,
        x4_ShadeLight,
        68px
    )
    .theme-switcher
      position fixed
      top 0.75em
      right x4_PaddingX
    x4_createPanelTheme(
        x4_TintMedium,
        x4_ShadeMedium,
        x4_TintDarker,
        x4_ShadeDark,
        x4_TintLight,
        x4_ShadeDark
    )
  
  //--------------------------------------------------------------------------
  // @part Theme HTML
  //--------------------------------------------------------------------------
  
  &.theme-html
    -webkit-filter grayscale(0%)
    header .header-title:after
      content 'HTML'
    &.version-4 .header-title:after
      content 'HTML4'
    &.version-5 .header-title:after
      content 'HTML5'
    &.version-x .header-title:after
      content 'XHTML'
  
  
  //--------------------------------------------------------------------------
  // @part Theme CSS
  //--------------------------------------------------------------------------
  
  &.theme-css
    -webkit-filter hue-rotate(190deg) grayscale(0%)
    header .header-title:after
      content 'CSS'
    &.version-2 .header-title:after
      content 'CSS2'
    &.version-3 .header-title:after
      content 'CSS3'
    &.version-4 .header-title:after
      content 'CSS4'
  
  
  //--------------------------------------------------------------------------
  // @part Theme JS
  //--------------------------------------------------------------------------
  
  &.theme-js
    -webkit-filter hue-rotate(120deg) grayscale(0%)
    header
      .header-title:after
        content 'JavaScript'
    &.version-1_8_5 .header-title:after
      content 'JavaScript 1.8.5'

// EOT